<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is reddy</h1>
        <h1>Welcome to reddy html file</h1>
        <h1><a href="{% url 'radha' %}">navigate to radha</a></h1>
        <h1><a href="{% url 'app3:latha' %}">navigate to latha</a></h1>

    </center>
</body>
</html>